/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: none;
	border: none;
	font-size: 26px;
	color: white;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 10px;
	padding-top: 3px;
	padding-bottom: 6px;
	padding-left: 11px;
	padding-right: 11px;
}

button:hover {
	border: 1px solid lightgrey;
	/* color: lightgrey; */
}

button:focus {
	outline: 0;
}




























/* STYLING */

.wrapper {
  height: 100vh;
  width: 100vw;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

body {
  background-color: pink;

  font-family: sans-serif;
  color: white;
  font-size: 26px;
}

header {
  text-align: center;
  font-size: 36px;
  padding-top: 30px;
}

header p {
	margin-bottom: 10px;
}

header a {
	border: 1px solid white;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 14px;
	padding-right: 14px;

	font-size: 20px;
	text-decoration: none;
	color: white;

	cursor: pointer;
}

header a:hover {
	border-color: lightgrey;
}

header a:focus {
  outline: 0;
}



main {
  height: 100vh;
	margin-top: -80px;

  display: flex;
  align-items: center;
	justify-content: center;
}





aside {
  width: 180px;
	margin-right: -10px;
	margin-left: -20px;

  display: flex;
  flex-direction: column;
	justify-content: space-around;
  align-items: center;
}

#bpm-slider {
  margin: 15px;
	margin-bottom: 20px;
}

.play-stop-button {
  margin: 25px;

  cursor: pointer;
}

.stopped {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 25px solid white;
  width: 0px;
  height: 0px;

  background-color: transparent;

  opacity: 0.7;
}

.playing {
  margin: 26px;
  border: none;
  border-radius: 3px;
  width: 26px;
  height: 26px;

  background-color: white;

  opacity: 0.7;
}

aside p {
	margin: 10px;
	border: 1px solid white;
	border-radius: 10px;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 9px;
	padding-right: 9px;

	font-size: 20px;
	text-align: center;

	display: inline-block;

	cursor: pointer;
}

.demo-button {
	width: 180px;
}

.random-button {
	width: 107px;
}

.clear-button {
	width: 58px;
}

aside p:hover {
	border-color: lightgrey;
}





section {
  width: 400px;
  height: auto;
	margin-left: 50px;

  display: flex;
}

.sequencer-button {
  border: 2px solid pink;
  border-radius: 3px;
  margin: 2px;
  width: 17px;
  height: 17px;

  opacity: .6;

  cursor: pointer;
}

ol {
  border-radius: 3px;
}

.highlighted {
  background-color: white;
  opacity: 1;
}

/* green #b3ffe6 */
/* purple #c599ff */

.drums {
  background-color: lightblue;
}

.vox {
  background-color: #c599ff;
}

.chords {
  background-color: #b3ffe6;
}

.synth {
  background-color: lightyellow;
}

.turned-on {
  border: 2px solid white;

  opacity: 1;
}





footer {
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;

  text-align: center;
  font-size: 20px;
}

footer a {
  margin-left: 10px;
  margin-right: 10px;

	text-decoration: none;
	color: white;
}
